header {
    padding: 20px;
    background-color: #f1f1f1;
    bottom: 0;
    width: auto;
	align-items: center; /* Centre les éléments verticalement */
    display: flex;
    justify-content: space-between; /* Espace les éléments horizontalement */
}

.logo {
    width: 150px;
}

/* Style général pour un bouton */
.login-button {
    background-color: #4CAF50; /* Couleur de fond verte */
    border: 1px solid #ddd;    /* Bordure */
    border-radius: 10px;       /* Rayon de bordure */
    color: white;              /* Couleur du texte */
    padding: 10px;        /* Padding */
    text-align: center;        /* Alignement du texte */
    text-decoration: none;     /* Suppression de la décoration du texte */
    display: inline-block;     /* Affichage en ligne */
    font-size: 16px;           /* Taille de la police */
    margin: 20px;            /* Marge */
    cursor: pointer;           /* Curseur de la souris */
}
.login-button:hover {
    background-color: #45a049; /* Couleur de fond au survol */
}

.login-form {
    max-width: 600px;
    margin: 10px auto;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 5%;
    background-color: #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}


.login-form button {
    background-color: #4CAF50; /* Changer la couleur selon vos préférences */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

h2 {
    text-align: center;
}

/*organise la position email, Pw, et boutton login*/
.login-form label, .login-form input, .add-review-form textarea, .login-form button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

/* Style pour le pied de page */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    width: 100%;
}
